extends common/layout

block main-content 
  h1 List of football matches happening today from different fixtures
    .container
      if (!fixturesData)
        h1 Could not fetch the data from the API 
      else
        for fixture in fixturesData 
          - let homeTeam = fixture.teams.home.name;
          - let awayTeam = fixture.teams.away.name;
          - let venue = fixture.fixture.venue.name;
          - let city = fixture.fixture.venue.city;
          div
            a(href=`/${city}`) #{homeTeam} vs #{awayTeam} @ #{venue}


