block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    title #{title} | Football and weather
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous")
  body
    header#header
      h2#site-name
        a(href="/") Football and weather
    main#main
      block main-content
    footer#footer
      div &copy; Copyright Sion Lee, 2024.